/* 
 This CSS file is used to override the existing styles of the theme.
 You can change the article headings, fonts, colors, etc.
*/

.swiper-slide .s-fade-txt {
  position: absolute;
  top: 80%;
  left: 60%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

