/* 
 This CSS file is used to override the existing styles of the theme.
 You can change the article headings, fonts, colors, etc.
*/

.swiper-slide .s-fade-txt {
    position: absolute;
    top: 80%;
    left: 70%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.swiper-button-next:after, .swiper-button-next:before {
    color:#000
}

.swiper-button-prev:after, .swiper-button-prev:before {
    color:#000
}
